@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /******** colors ********/
  --root-primary-color: #00a298;

  /* color scale: 1-9 */
  --root-primary-color-3: rgba(0, 162, 152, 0.08);
  --root-primary-color-4: rgba(0, 162, 152, 0.4);
  --root-primary-color-5: var(--root-primary-color);

  --root-error-color: #e55252;
  --root-black-color: #222;
  --root-white-color: #fff;
  --root-link-color: #0185a2;
  --root-link-hover-color: #00a298;

  /******** typography ********/
  --root-font-family: "Roboto", sans-serif;
  --root-font-weight-normal: 300;

  /******** buttons ********/
  --root-button-border-radius: 8px;

  /************************************************
  ****** apply the root values to components ****** 
  /************************************************/

  /******** typography ********/
  font-family: var(--root-font-family);
  font-weight: var(--root-font-weight-normal);
  color: var(--root-black-color);

  /******** webform titles ********/
  --webform-title-color: var(--root-black-color);
  --webform-title-font-weight: 500;
  --webform-title-font-style: normal;
  --webform-title-font-size: 32px;
  --webform-title-display: none;

  --webform-page-title-color: var(--root-black-color);
  --webform-page-title-font-weight: 300;
  --webform-page-title-font-style: normal;
  --webform-page-title-font-size: 24px;
  --webform-page-title-underline-color: var(--root-primary-color);
  --webform-page-title-underline-display: none;

  /******** button ********/
  --button-background-color: var(--root-primary-color);
  --button-color: var(--root-white-color);
  --button-border-radius: var(--root-button-border-radius);

  --button-hover-color: var(--root-primary-color);
  --button-hover-background-color: var(--root-primary-color-3);
  --button-disabled-background-color: var(--root-primary-color);
  --button-disabled-color: var(--root-white-color);

  /******** fields ********/
  --field-error-color: var(--root-error-color);
  /* TODO: add help, label, optional vars */

  /******** field inputs ********/
  --field-input-background-color: transparent;
  --field-input-border: none;
  --field-input-border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  --field-input-hover-border-color: var(--root-primary-color);
  --field-input-focus-border-color: var(--root-primary-color);
  --field-input-focus-box-shadow: none;
  --field-label-font-weight: 300;

  /******** dropdown selector: the same as field inputs, but for dropdowns ********/
  --dropdown-selector-background-color: transparent;
  --dropdown-selector-border: none;
  --dropdown-selector-border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  --dropdown-selector-hover-border-color: var(--root-primary-color);
  --dropdown-selector-focus-border-color: var(--root-primary-color);
  --dropdown-selector-focus-box-shadow: none;

  /******** dropdown ********/
  --dropdown-option-active-background-color: var(--root-primary-color-4);
  --dropdown-menu-background-color: var(--root-white-color);
  --dropdown-menu-color: var(--root-black-color);
  --dropdown-menu-font-weight: 300;
  --dropdown-menu-style: normal;
  --dropdown-placeholder-background-color: var(--root-primary-color-3);
  --dropdown-placeholder-color: var(--root-black-color);
  --dropdown-placeholder-active-color: var(--root-black-color);
  --dropdown-placeholder-font-style: italic;
  --dropdown-placeholder-font-weight: 400;

  /******** date picker ********/
  --date-picker-background: var(--root-white-color);
  --date-picker-color: var(--root-black-color);
  --date-picker-border: none;
  --date-picker-hover-background: var(--root-primary-color-4);
  --date-picker-today-hover-background: var(--root-primary-color);
  --date-picker-today-hover-color: var(--root-white-color);
  --date-picker-today-border-radius: 0;
  --date-picker-controls-color: var(--root-black-color);
  --date-picker-controls-hover-color: var(--root-primary-color);
  --date-picker-footer-button-color: var(var(--root-link-color));
  --date-picker-footer-button-hover-color: var(var(--root-link-hover-color));
  --date-picker-footer-button-font-style: italic;
  --date-picker-footer-button-font-weight: 500;
  --date-picker-days-of-week-font-style: italic;
  --date-picker-days-of-week-font-weight: 600;

  /******** loading spinner ********/
  --loading-spinner-color: var(--root-primary-color);
  --loading-spinner-size: 24px;
  --loading-spinner-thickness: 2px;

  /******** checkboxes ********/
  --checkbox-checked-background: var(--root-primary-color);
  /* --checkbox-checked-border: 1px solid var(--root-primary-color); */
  --checkbox-checked-border-color: var(--root-primary-color);

  --checkbox-check-hover-border: 2px solid red;
  --checkbox-border-radius: 50%;
  /* --option-field-uncheck-hover-border: 1px solid var(--root-primary-color-4); */

  
}

html ::selection,
body ::selection {
  background: var(--root-primary-color) !important;
  color: var(--root-black-color) !important;
}

body {
  font-family: var(--root-font-family);

  .anvil-markdown strong {
    font-weight: 500;
    font-style: normal;
  }

  .anvil-markdown ul {
    list-style-type: square;
  }

  .anvil-markdown ol {
    list-style-type: decimal;
  }

  .anvil-webform-step-bar {
    display: none;
  }

  .anvil-field-content-container {
    display: flex;
    flex-direction: column;
  }

  .anvil-field-content-container .anvil-field-help-label {
    order: 2;
  }
}
